@model IEnumerable<ClientModel>
@{
    Layout = "_LayoutConsult";
}
<div class="consult-content">
    <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
        <a asp-controller="Consult" asp-action="ConsultClientIndex" class="releases-links releases-links-active" style="margin-right: 1rem">Clientes</a>
        <a asp-controller="Consult" asp-action="ConsultProductsIndex" class="releases-links" style="margin-right: 1rem">Produtos</a>
        <a asp-controller="Consult" asp-action="" class="releases-links" style="margin-right: 1rem">Receitas</a>
        <a asp-controller="Consult" asp-action="" class="releases-links">Recheios</a>
    </div>
    <div style="width: 100%; height: 85vh; display: flex; justify-content: center;">
        <div class="d-flex flex-column align-items-center" style="width: 60%; height: 70vh; margin-top: 4rem; overflow-y: auto;">
            @foreach (var item in Model)
            {
                <div style="width: 450px; background-color: #e5dbd0; padding: 10px; display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; border-radius: 10px;">
                    <input type="hidden" name="Id" />
                    <div style="width: 200px;">
                        <label style="font-size: 10px">Nome</label>
                        <div>@Html.DisplayFor(itemModel => item.Name)</div>
                    </div>
                    <div>
                        <label style="font-size: 10px">Numero Telefone</label>
                        <div>@Html.DisplayFor(itemModel => item.PhoneNumber)</div>
                    </div>
                    <div>
                        <a asp-controller="Consult" asp-action="ConsultEditClient" asp-route-id="@item.Id" style="margin-right: .5rem; text-decoration: none;">
                            <img src="~/images/edit.svg" alt="Alternate Text" style="width: 20px; height: 20px;" />
                        </a>
                        <a asp-controller="Consult" asp-action="ConsultDeleteClient" asp-route-id="@item.Id">
                            <img src="~/images/trash.svg" alt="Alternate Text" style="width: 20px; height: 20px;" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>