@model ClientModel
@{
    Layout = "_LayoutHome";
}
<h1 style="color: #412E27; padding: 10px 0 10px 0">Cliente</h1>
<div class="d-flex" style="width: 100%">
    <div style="width: 100%;padding: 20px ; border-radius: 10px;background-color: #F5F5F5;-webkit-box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff;box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff; ">
        <h3>Editar Cliente</h3>
        <form asp-action="EditClient">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="d-flex flex-column" style="width: 400px; margin-bottom: .5rem">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="input-style" style="background-color: #eaeaea; color: #000000;" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column" style="width: 400px;margin-bottom: .5rem">
                <label asp-for="PhoneNumber">Telefone</label>
                <input asp-for="PhoneNumber" class="input-style" style="background-color: #eaeaea; color: #000000;" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column" style="width: 400px;margin-bottom: .5rem">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="input-style" style="background-color: #eaeaea; color: #000000;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="width: 400px;">
                <a asp-action="ClientIndex">Voltar</a>
                <input class="btn btn-success" type="submit" name="name" value="Atualizar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}