@model RecipesModel
@{
    Layout = "_LayoutHome";
}
<h1 style="color: #FFFFFF; padding: 10px 0 10px 0">Ficha Tecnica</h1>
<div class="main-content">
    <div class="content-sidebar-recipes">
        <h4 style="color: #FFFFFF">Criar Ficha Tecnica</h4>
        <form asp-action="ReleaseCreateProduct" class="form-releases">
            <div class="d-flex flex-column" style="margin-bottom: .5rem;">
                <input asp-for="Name" placeholder="Nome Ficha Tecnica" class="input-style" style="width: 250px" />
                <input asp-for="Price" placeholder="Preço" class="input-style" style="width: 80px" />
            </div>
        </form>
    </div>
    <div class="content-page">
        
    </div>
</div>
