@model APP.Models.ProductModel
@{
    Layout = "_LayoutHome";
}
<h1 style="color: #FFFFFF; padding: 10px 0 10px 0">Produtos</h1>
<div class="main-content">
    @if (Model.IsSave)
    {
        <div class="releases-message-success">
            <span style="font-weight: bolder;">Registro salvo com sucesso!</span>
        </div>
    }
    <div class="content-sidebar">
        <h4 style="color: #FFFFFF">Adiconar Produtos</h4>
        <form class="form-releases">
            <div class="form-group" style="margin-bottom: .5rem;">
                <input placeholder="Nome Produto" class="input-style" style="width: 250px" autocomplete="off" name="ProductModel.Name" disabled />
            </div>
            <div class="form-group" style="margin-bottom: .5rem;">
                <input placeholder="Categoria" class="input-style" style="width: 250px" autocomplete="off" disabled />
            </div>
            <div class="form-group" style="margin-bottom: .5rem;">
                <input placeholder="Marca" class="input-style" style="width: 250px" autocomplete="off" disabled />
            </div>
            <div style="width: 100%; display: grid; place-content: center">
                <input class="btn btn-success" type="submit" value="Salvar" disabled/>
            </div>
        </form>
    </div>
    <div class="content-page">
        <h3>Editar Produto</h3>
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="d-flex flex-column" style="width: 400px; margin-bottom: .5rem">
                <label asp-for="Name" ></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column" style="width: 400px;margin-bottom: .5rem">
                <label asp-for="ProductCategory"></label>
                <input asp-for="ProductCategory" />
                <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="d-flex flex-column" style="width: 400px;margin-bottom: 1rem">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="width: 400px;">
                <a asp-action="ProductIndex">Voltar</a>
                <input class="btn btn-success" type="submit" name="name" value="Atualizar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}