@{
    Layout = "_LayoutHome";
}
<h1 style="color: #412E27; padding: 10px 0 10px 0">Criar Ficha Tecnica</h1>
<div style="width: 100%;padding: 40px ; border-radius: 10px;background-color: #F5F5F5;-webkit-box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff;box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff; ">
    <form asp-action="DataSheetName" style="display: flex; flex-direction: column; align-items: center;">
        <input name="Name" value="" placeholder="Nome Ficha Tecnica" class="input-style" style="width: 600px; background-color: #eaeaea; color: #412E27;" autocomplete="off"/>
        <div style="width: 600px; display: flex; justify-content: space-between; align-items: center; margin-top: 1rem">
            <a href="#">voltar</a>
            <input type="submit" class="btn btn-success" name="name" value="Avançar" />
        </div>
    </form>
</div>