@model IEnumerable<RecipesModel>
@{
    Layout = "_LayoutHome";
}
<h1 style="color: #412E27; padding: 10px 0 10px 0">Ficha Tecnica</h1>
<div class="main-content" style="padding: 20px">
    <div style="background-color: #FFF ;width: 100%; border-radius: 10px;">
        <div style="padding: 10px; width: 100%;"><a asp-action="DataSheetCreate" class="btn btn-primary">Criar Ficha Técnica</a></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                    </tr>                    
                }
            </tbody>
        </table>
    </div>
</div>